.alarms-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
}

.alarm-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  background-color: #F2F2F2;
  border-radius: 12px;
  min-height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alarm-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.alarm-image {
  width: 223px;
  height: 154px;
  object-fit: cover;
  border-radius: 12px 0 0 12px;
  margin-right: 15px;
}

.alarm-info {
  flex-grow: 1;
}

.alarm-info h3 {
  margin: 0;
  color: #014344;
}

.alarm-info p {
  margin: 5px 0 0;
  color: #014344;
}


.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

.alarm-actions {
  display: flex;
  gap: 30px;
  padding-right: 40px;
  button{
    background-color: #006769;
    mat-icon{
      color: #F2F2F2;
    }
  }

  button.delete-button {
    background-color: #AB0130 !important;
    
    mat-icon {
      color: #F2F2F2 !important;
    }
  }

  button.back-button {
    background-color: #55B88A !important;
    color: white !important;
  }

}

