<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav nav-goodtime"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>GoodTime</mat-toolbar>
    <mat-nav-list>
      <!-- Enlaces estáticos con iconos -->
      <a mat-list-item routerLink="/crear" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>add_circle_outline</mat-icon> Crear alarma
      </a>
      <a mat-list-item routerLink="/listado" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>list</mat-icon> Listado de alarmas
      </a>
      <a mat-list-item routerLink="/historial" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>history</mat-icon> Historial
      </a>
      <a mat-list-item routerLink="/estadisticas" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>folder</mat-icon> Estadísticas
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sidenav-scroll-wrapper">
      <div class="sidenav-content">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
