<div class="goodtime-container">
    <h1>Comparte tus alarmas</h1>


<div class="share-alarm-container">
    <h2>Comparte esta alarma</h2>
    
    <ul>
      <li (click)="onShareAlarm()">
        <mat-icon>telegram</mat-icon>
        <span>WhatsApp</span>
      </li>
      <li (click)="onShareAlarm()">
        <mat-icon>email</mat-icon>
        <span>Email</span>
      </li>
      <li (click)="onShareAlarm()">
        <mat-icon>qr_code</mat-icon>
        <span>QR code</span>
      </li>
      <li (click)="onShareAlarm()">
        <mat-icon>facebook</mat-icon>
        <span>Facebook</span>
      </li>
      <li (click)="onShareAlarm()">
        <mat-icon>telegram</mat-icon>
        <span>Telegram</span>
      </li>
    </ul>
    
    <button mat-button class="exit-button" (click)="onExit()">Salir</button>
  </div>
  
</div>