.share-alarm-container {
    background-color: #006769;
    color: white;
    padding: 90px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
    border-bottom: 1px solid white;
  }
  
  mat-icon {
    margin-right: 15px;
  }
  
  .exit-button {
    background-color: white;
    color: #006769;
    margin-top: 20px;
  }
  