<div class="grid-container">
  <h1 class="mat-h1">Crear alarma</h1>
  <mat-grid-list cols="2" rowHeight="2:1">

    <mat-form-field appearance="fill" class="hours">
      <mat-label>Hora de alarma</mat-label>
      <mat-select [(value)]="hour">
        <mat-option *ngFor="let h of hours" [value]="h">{{ h }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="minutes">
      <mat-label>Minutos de alarma</mat-label>
      <mat-select [(value)]="minute">
        <mat-option *ngFor="let m of minutes" [value]="m">{{ m }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group [(ngModel)]="timeFormat">
      <mat-radio-button value="AM">AM</mat-radio-button>
      <mat-radio-button value="PM">PM</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre de la alarma" [(ngModel)]="alarmName">
    </mat-form-field>
    
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="2:1">
    <div class="upload-img">
      <img src="/images/bg-1.jpg" alt="" srcset="">
      <button mat-raised-button color="primary"><mat-icon>upload</mat-icon>Seleccionar foto</button>
    </div>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="2:2">
    <button mat-raised-button color="secondary"><mat-icon>arrow_back</mat-icon>Regresar</button>
    <button mat-raised-button color="primary"><mat-icon>check</mat-icon>Crear alarma</button>
  </mat-grid-list>


</div>
