.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.minutes, .hours {
    font-size: 1.5em;
    width: 78px;
    height: 86px;
    border: 3px solid #297F80;
    border-radius: 8px;
  
}

.mdc-text-field{
  border: 0;
}
