@use "@angular/material" as mat;
@use "./app/layout/layout-component.theme";
@use "./typography" as typography;
@use "../m3-theme";


@include mat.core();

// $angular-material-3-light-theme: mat.define-theme(
//   (
//     color: (
//       theme-type: light,
//       primary: mat.$azure-palette,
//       tertiary: mat.$blue-palette,
//     ),
//     density: (
//       scale: 0,
//     ),
//   )
// );

// $angular-material-3-dark-theme: mat.define-theme(
//   (
//     color: (
//       theme-type: dark,
//       primary: mat.$magenta-palette,
//       tertiary: mat.$violet-palette,
//     ),
//     density: (
//       scale: 0,
//     ),
//   )
// );

// Light theme
// Un comment below to use theme created by ng add @angular-material
// $theme: $angular-material-3-light-theme;

// Light Theme created by ng generate @angular-material:m3-theme
$theme: m3-theme.$light-theme;

// Dark theme
// Un-comment below to use dark theme using @angular/material
// $dark-theme: $angular-material-3-dark-theme;

// Dark Theme created by ng generate @angular-material:m3-theme
$dark-theme: m3-theme.$dark-theme;

:root {
  @include mat.all-component-themes($theme);

  // Components themes
  @include layout-component.theme($theme);

  // Add backwards compatibility styles for color variants
  @include mat.color-variants-backwards-compatibility($theme);

  @media (prefers-color-scheme: dark) {
    @include mat.all-component-colors($dark-theme);

    // Components themes
    @include layout-component.theme($dark-theme);

    @include mat.color-variants-backwards-compatibility($dark-theme);
  }
}


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  p{
    font-size: 13px;
  }
}


h1 {
  font-family: map-get(typography.$headline-medium, font);
  font-size: map-get(typography.$headline-medium, size);
  letter-spacing: map-get(typography.$headline-medium, tracking);
  font-weight: map-get(typography.$headline-medium, weight);
}

h2 {
  font-family: map-get(typography.$display-large, font);
  font-size: map-get(typography.$display-large, size);
  letter-spacing: map-get(typography.$display-large, tracking);
  font-weight: map-get(typography.$display-large, weight);
}

h3 {
  font-family: map-get(typography.$headline-small, font);
  font-size: map-get(typography.$headline-small, size);
  letter-spacing: map-get(typography.$headline-small, tracking);
  font-weight: map-get(typography.$headline-small, weight);
}

h4 {
  font-family: map-get(typography.$title-large, font);
  font-size: map-get(typography.$title-large, size);
  letter-spacing: map-get(typography.$title-large, tracking);
  font-weight: map-get(typography.$title-large, weight);
}

.goodtime-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0% 5rem;
}
.goodtime-crear{
  p{
    margin-top: -5px;
  }
}

// Inputs
.time-inputs{
  .mat-mdc-text-field-wrapper{
    width: 81px;
    height: 86px;
    border: 3px solid #297F80;
    border-radius: 8px;
  }
}
.name, .description{
  width: 100%;
  .mat-mdc-text-field-wrapper{
    width: 100%;
    border: 3px solid #297F80;
    border-radius: 8px;
  }
}
.time-apm{
  display: flex;
}

.mdc-notched-outline--notched mat-label{
  background-color: #55B88A;
  border-radius: 8px;
  color: #014344;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 4px;
  align-items: center;
}



// Override Theme 

:root {
  --mdc-text-button-label-text-size: 0.975rem;
  // Background color item sidenav
  --mat-list-active-indicator-color: #297F80;
  // Text color item sidenav
  --mdc-list-list-item-label-text-color: #F2F2F2;

  // Text color button
  --mdc-protected-button-label-text-color: #F2F2F2;

  // Background color button
  --mdc-protected-button-container-color: #297F80;

  // Checkbox 
  --mdc-checkbox-selected-focus-icon-color: #297F80;
  --mdc-checkbox-selected-hover-icon-color: #297F80;
  --mdc-checkbox-selected-icon-color: #297F80;
  --mdc-checkbox-selected-pressed-icon-color: #297F80;
  --mdc-checkbox-selected-focus-state-layer-color: #297F80;
  --mdc-checkbox-selected-hover-state-layer-color: #297F80;
  --mdc-checkbox-unselected-pressed-state-layer-color: #297F80;
}

@media (prefers-color-scheme: dark) {
  :root .mat-accent.mat-mdc-checkbox {
    --mdc-checkbox-selected-focus-icon-color: #297F80;
    --mdc-checkbox-selected-hover-icon-color: #297F80;
    --mdc-checkbox-selected-icon-color: #297F80;
    --mdc-checkbox-selected-pressed-icon-color: #297F80;
    --mdc-checkbox-selected-focus-state-layer-color: #297F80;
    --mdc-checkbox-selected-hover-state-layer-color: #297F80;
    --mdc-checkbox-unselected-pressed-state-layer-color: #297F80;
    --mdc-checkbox-unselected-icon-color: #297F80;
  }
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  width: 20px;
  height: 20px;
}