// Mapa para Display
$display-large: (
  font: 'Roboto',
  size: 57px,
  tracking: -0.25px,
  weight: 400
);

$display-medium: (
  font: 'Roboto',
  size: 45px,
  tracking: 0px,
  weight: 400
);

$display-small: (
  font: 'Roboto',
  size: 36px,
  tracking: 0px,
  weight: 400
);

// Mapa para Headline
$headline-large: (
  font: 'Roboto',
  size: 32px,
  tracking: 0px,
  weight: 400
);

$headline-medium: (
  font: 'Roboto',
  size: 28px,
  tracking: 0px,
  weight: 400
);

$headline-small: (
  font: 'Roboto',
  size: 24px,
  tracking: 0px,
  weight: 400
);

// Mapa para Title
$title-large: (
  font: 'Roboto',
  size: 22px,
  tracking: 0px,
  weight: 400
);

$title-medium: (
  font: 'Roboto',
  size: 16px,
  tracking: 0.15px,
  weight: 500
);

$title-small: (
  font: 'Roboto',
  size: 14px,
  tracking: 0.1px,
  weight: 500
);

// Mapa para Label
$label-large-prominent: (
  font: 'Roboto',
  size: 14px,
  tracking: 0.1px,
  weight: 600
);

$label-large: (
  font: 'Roboto',
  size: 14px,
  tracking: 0.1px,
  weight: 500
);

$label-medium-prominent: (
  font: 'Roboto',
  size: 12px,
  tracking: 0.5px,
  weight: 600
);

$label-medium: (
  font: 'Roboto',
  size: 12px,
  tracking: 0.5px,
  weight: 500
);

$label-small: (
  font: 'Roboto',
  size: 11px,
  tracking: 0.5px,
  weight: 500
);

// Mapa para Body
$body-large: (
  font: 'Roboto',
  size: 16px,
  tracking: 0.5px,
  weight: 400
);

$body-medium: (
  font: 'Roboto',
  size: 14px,
  tracking: 0.25px,
  weight: 400
);

$body-small: (
  font: 'Roboto',
  size: 12px,
  tracking: 0.4px,
  weight: 400
);


// Apply Typography

